* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  width: 410px;
  padding: 10px;
}

p {
  padding: 5px;
}

footer {
  display: flex;
  flex-direction: row;
}

button {
  padding: 10px;
}

button.active-btn {
  outline: 1px solid blue;
  outline-offset: 3px;
}

#checkbox-container {
  display: flex;
  background-color: #eee;
}

#checkbox-container label {
  flex: 1;
  align-self: center;
  padding: 14px 0 14px 10px;
  user-select: none;
}

#checkbox-container input[type="checkbox"] {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-right: 10px;
}

#checkbox-container:hover {
  background-color: #ddd;
}

#colors {
  border-top: 1px solid #00000030;
  padding-top: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;
}

label[for="text"] {
  order: 0;
}

#text {
  order: 1;
}

label[for="link"] {
  order: 2;
}

#link {
  order: 3;
}

label[for="background"] {
  order: 4;
}

#background {
  order: 5;
}

label[for="linkHovered"] {
  order: 7;
}

#linkHovered {
  order: 8;
}

label[for="blank"] {
  order: 9;
}

#blank {
  order: 10;
}

label[for="linkVisited"] {
  order: 11;
}

#linkVisited {
  order: 12;
}

#colors button {
  border: none;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

#colors label {
  align-self: center;
  justify-self: right;
  font-size: 1rem;
}

button#reset {
  padding: 4px;
}
