* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  position: relative;
  width: 20rem;
  /* max-width: 800px;
  max-height: 600px; */
  padding: 10px;
}

p {
  padding: 5px;
}

footer {
  display: flex;
  flex-direction: row;
}

button {
  padding: 10px;
}

button.active-btn {
  outline: 1px solid blue;
  outline-offset: 3px;
}

#error {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 20px;
  margin: 10px;
  width: calc(20rem - 40px);
  font-size: 1.2rem;
  background-color: #ffabab;
  box-shadow: 0px 4px 10px #00000066;
  transition:
    opacity 400ms,
    transform 400ms;
  transform: translateY(50px);
  opacity: 0;
  pointer-events: none;
}

#error.show {
  opacity: 1;
  transform: translateY(0px);
}

#checkbox-container {
  display: flex;
  background-color: #eee;
  align-items: center;
}

#checkbox-container label {
  padding: 14px;
  flex: 1;
  user-select: none;
}

#checkbox-container input[type="checkbox"] {
  margin: 14px;
  width: 2rem;
  height: 2rem;
}

#checkbox-container:hover {
  background-color: #ddd;
}

#colors {
  border-top: 1px solid #00000030;
  padding-top: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
  margin-bottom: 10px;
  align-items: center;
}

#colors button {
  border: 1px solid #808080;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
}

#colors label {
  text-align: right;
  justify-self: right;
  font-size: 1rem;
}

label[for="linkHovered"] {
  margin-left: 20px;
}

button#reset {
  padding: 4px;
}
