body {
  padding: 20px;
  display: flex;
}

main {
  display: flex;
  position: relative;
  width: 800px;
  margin: auto;
}

p {
  font-size: 1.5rem;
}

main div {
  position: absolute;
}

img {
  width: 100%;
  height: 500px;
  opacity: 0.2;
  object-fit: contain;
}