/* button::-moz-focus-inner {
  border: 0;
} */

* {
  margin: 0px;
  padding: 0px;
}

body, html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 410px;
}

button {
  padding: 10px;
}

button.active-btn {
  background-color: #fff;
}

.active-swatch {
  /* border: 2px solid #000; */
  /* border-color: #aaa; */
}

#content {
  padding: 10px;
}

#checkbox-container {
  display: flex;
  background-color: #eee;
}

#checkbox-container label {
  flex: 1;
  align-self: center;
  padding: 14px 0 14px 10px;
  user-select: none;
}

#checkbox-container input[type="checkbox"] {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-right: 10px;
}

#checkbox-container:hover {
  background-color: #ddd;
}

#cc-div {
  grid-area: cc-div;
}

#always-div {
  grid-area: always-div;
}

canvas {
  margin: auto;
  height: 300px;
  width: 100%;
}

#colors {
  display: grid;
  grid-template: [row1-start] "fore fore_swatch"auto [row1-end] [row2-start] "back back_swatch"auto [row2-end] [row3-start] "link link_swatch"auto [row3-end] / 80% auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}

#fore {
  grid-area: fore;
}

#back {
  grid-area: back;
}

#link {
  grid-area: link;
}

#fore_swatch {
  grid-area: fore_swatch;
}

#back_swatch {
  grid-area: back_swatch;
}

#link_swatch {
  grid-area: link_swatch;
}

.slide-container {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

#lightness-value {
  flex: 2;
  text-align: center;
  color: #333333;
  font-size: 1.4rem;
  text-emphasis: center;
}

.slider {
  flex: 8;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  border-radius: 10000%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track, .slider::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #333;
  border-radius: 1.3px;
}

footer {
  position: absolute;
  background-color: #bbb;
  color: #ccc;
  bottom: -88px;
  height: 100px;
  width: 100%;
  transition: bottom 200ms;
}

footer:hover {
  bottom: 0px;
}

#divider {
  height: 10px;
}

#thumb {
  position: relative;
  background-color: white;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

footer section {
  display: grid;
  grid-template-areas: "donate always-on reset";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
}

#donate {
  grid-area: donate;
  color: #222;
}

#reset {
  grid-area: reset;
}