/* button::-moz-focus-inner {
  border: 0;
} */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 410px;
  padding: 10px;
}

canvas {
  margin: auto;
  height: 300px;
  width: 100%;
}

p {
  padding: 5px;
}

button {
  padding: 8px;
}

button.active-btn {
  background-color: #fff;
}

#checkbox-container {
  display: flex;
  background-color: #eee;
}

#checkbox-container label {
  flex: 1;
  align-self: center;
  padding: 14px 0 14px 10px;
  user-select: none;
}

#checkbox-container input[type="checkbox"] {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-right: 10px;
}

#checkbox-container:hover {
  background-color: #ddd;
}

#colors {
  display: grid;
  grid-template: [row1-start] "fore fore_swatch"auto [row1-end] [row2-start] "back back_swatch"auto [row2-end] [row3-start] "link link_swatch"auto [row3-end] / 80% auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;
}

#fore {
  grid-area: fore;
}

#back {
  grid-area: back;
}

#link {
  grid-area: link;
}

#fore_swatch {
  grid-area: fore_swatch;
}

#back_swatch {
  grid-area: back_swatch;
}

#link_swatch {
  grid-area: link_swatch;
}

.slide-container {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

#lightness-value {
  flex: 2;
  text-align: center;
  color: #333333;
  font-size: 1.4rem;
  text-emphasis: center;
}

.slider {
  flex: 8;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  border-radius: 10000%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track, .slider::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #333;
  border-radius: 1.3px;
}